@model entidades.Tallas

@{
    ViewBag.Title = "eliminatallas";
}

<h2>Elimina Tallas</h2>

<h3>Esta seguro(a) de que desea eliminarlo?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTalla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTalla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DscTalla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DscTalla)
        </dd>

    </dl>

    @using (Html.BeginForm("acciones", "tallas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IdTalla)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="btnEliminar" name="submitButton"
                        value="Eliminar" class="btn btn-primary" title="Eliminar"
                        data-toggle="tooltip" data-container="body" data-placement="right">
                    Eliminar
                </button>
                @Html.ActionLink("Regresar", "listartallas")
            </div>
        </div>


    }
</div>
