@model entidades.TipoZapato

@{
    ViewBag.Title = "detalletipozapato";
}

<h2>Detalle Tipo Zapato</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTipoZapato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTipoZapato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DscTipoZapato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DscTipoZapato)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "modificatipozapato", new { id = Model.IdTipoZapato }) |
    @Html.ActionLink("Regresar", "listartipozapato")
</p>
