@model entidades.PedidoEnCab

@{
    ViewBag.Title = "eliminapedidoencabezado";
}

<h2>Elimina Pedido encabezado</h2>

<h3>Esta seguro(a) de que desea eliminarlo?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecPedido)
        </dd>

    </dl>

    @using (Html.BeginForm("acciones", "pedidoencabezado", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IdPedido)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="btnEliminar" name="submitbutton"
                        value="Eliminar" class="btn btn-primary" title="Eliminar"
                        data-toggle="tooltip" data-container="body" data-placement="right">
                    Eliminar
                </button>
                @Html.ActionLink("Regresar", "listarpedidoencabezado")
            </div>
        </div>


    }
</div>
